$minion-yellow: #fce762;
$ivory: #fffded;
$macaroni: #ffb17a;
$dark-slate: #4f4789;
$dark-purple: #201335;

$border-color: #d8d8d8;

$grey-text: #9b9b9b;

$gutter: 16px;

$section-width: 80vw;

$alert: #ff6f60;
